---
import Layout from '../../layouts/LayoutDemo.astro'

type PostT = {
  id: number
  title: {
    rendered: string
  }
}

const res = await fetch('http://host.docker.internal:8000/wp-json/wp/v2/posts')
const posts = (await res.json()) as Array<PostT>
---

<Layout title="Posts">
  <div class="demo">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
        </tr>
      </thead>
      <tbody>
        {
          posts.map((v) => (
            <tr>
              <td>{v.id}</td>
              <td><a href={`/posts/${v.id}`}>{v.title.rendered}</a></td>
            </tr>
          ))
        }
      </tbody>
    </table>
  </div>
</Layout>

<style>
  .demo {
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;

    table {
      width: 240px;
      border-top: solid 1px;
      border-left: solid 1px;
      border-collapse: collapse;
      box-sizing: border-box;

      th, td {
        color: #000;
        border-bottom: solid 1px;
        border-right: solid 1px;
        padding: 8px;

        a {
          color: #005cb8;
        }
      }

      td:first-of-type {
        text-align: center;
      }
    } 
  }
</style>
